* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#root {
  background: #f8f8f8;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 540px;
  height: 680px;
  background: white;
  border-radius: 7px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.0);
}

.chat-history{
  padding-left: 13px;
  padding-right: 13px;
  -ms-overflow-style: none;  /*hide scrollbar in IE and Edge */
  scrollbar-width: none;  /* hide scrollbar in Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.chat-history::-webkit-scrollbar {
  display: none;
}

.chat-bar {
  height: auto;
  border-top: 1px solid #CCC;
}

.chat-bar form {
  height: 100%;
  padding: 16px;
}

.chat-bar form input {
  width: 100%;
  height: 50px;
  padding: 8px 8px;
  border: 1px solid #000;
  border-radius: 5px;
  outline: none;
}
.chat-bar form input:focus {
  border: 2px solid #0084ff;
}
