* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
.authForm Span {
  margin-bottom: 10px;
  display: block;
}
.authForm Input {
    border-radius: 5px;
    min-height: 30px;
    min-width: 100%;
    margin-bottom: 20px;
    padding-left: 10px;
    border-color: #000000;
}
